extends base.pug
block content
    h1 Form GET
    form(action="submit-form-post", method="post")
        input#i1(type="text", name="name")
        input#i2(type="text", name="lastname")
        input#i3(type="text", name="age")
        input#i4(type="submit")

